{# src/elfib/elfibStockBundle/Resources/views/Stock/modifier.html.twig #}

{% extends "elfibStockBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - modifier un magasin
{% endblock %}

{% block body %}
  <h3>Modifier un magasin</h3>
  <hr>
<div id="fournisseurAjout" class="text-center">
  {{ form_start(form) }}
  <div class="row">
    <div class="col-md-6">
      {% if form_errors(form.libelle) %}
        <div class="form-group has-error has-feedback">
          <label class="control-label" for="code">{{ form_errors(form.libelle) }}</label>
          {{ form_widget(form.libelle, {'attr': {'class': 'form-control',
            'placeholder': 'Code'}} ) }}
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      {% else %}
        <div class="form-group">
          <label class="control-label" for="code">Libelle</label>
          {{ form_widget(form.libelle, {'attr': {'class': 'form-control',
            'placeholder': 'Code'}} ) }}
        </div>
      {% endif %}
    </div>
  </div>
  {{ form_rest(form)}}
</div>
<button class="btn btn-success" type="submit">modifier</button>

{% endblock %}
      