{# src/elfib/CommercialBundle/Resources/views/Client/index.html.twig #}

{% extends "elfibCommercialBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Client
{% endblock %}

{% block body %}
  <div id="clientIndex">
    <h3>Liste des clients
      <a href="{{ path('elfib_commercial_client_ajout') }}">
        <span class="badge badge-success pull-right">Ajouter un client</span>
      </a>
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="form-search search-only">
          <i class="search-icon glyphicon glyphicon-search"></i>
          <input type="text" class="form-control search-query" placeholder="Code">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search search-only">
          <i class="search-icon glyphicon glyphicon-search"></i>
          <input type="text" class="form-control search-query" placeholder="Nom">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search search-only">
          <i class="search-icon glyphicon glyphicon-search"></i>
          <input type="text" class="form-control search-query" placeholder="Code Postal">
        </div>
      </div>
      <button class="btn btn-primary col-md-3">Rechercher</button>
    </div>
    <div class="clearfix"></div><hr>
    <div class="row">
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
          <table class="table">
            <tr>
              <th>Nom</th>
              <th>Activite</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Code Postal</th>
              <th>Téléphone</th>
              <th>Fax</th>
              <th>Actif</th>
              <th>Action</th>
            </tr>
            {% for client in clients %}
              <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.Activite }}</td>
                <td>{{ client.sieRue }}</td>
                <td>{{ client.sieCP }}</td>
                <td>{{ client.sieVille }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.fax }}</td>
                <td>
                  {% if client.actif %}
                    Oui
                  {% else %}
                    Non
                  {% endif %}
                </td>
                <td>
                  <a href="{{ path('elfib_commercial_client_modifier',
                                  {'id': client.id}) }}">
                    <i class="edit-icon glyphicon glyphicon-edit"></i>
                  </a>
                  {% if client.actif %}
                    <a href="{{ path('elfib_commercial_client_supprimer',
                                  {'id': client.id}) }}"
                       onclick="return confirm('Etes vous certain de vouloir supprimer {{ client.nom }} ?')">
                      <i class="remove-sign-icon glyphicon glyphicon-remove-sign"></i>
                    </a>
                  {% else %}
                    <a href="{{ path('elfib_commercial_client_activer',
                                  {'id': client.id}) }}"
                       onclick="return confirm('Etes vous certain de vouloir activer {{ client.nom }} ?')">
                      <i class="ok-sign-icon glyphicon glyphicon-ok-sign"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}